* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url(Rectangle\ 11.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

button {
  padding: 1rem 4rem;
  font-size: 2rem;
  animation: all 2s;
  /* fatihat adjustmet */
  background-color: grey;
  color: #fff;
}

button:hover {
  transform: translateY(20%);
}
